@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.blackcircle{
     position: fixed;
     top: 38%;
     left: 44%;
     background-color: black;
     height: 250px;
     width: 250px;
     border-radius: 50%;
     display: flex;
     align-items: center; 
     justify-content: center;
}

#introtextHeythere{
     position: absolute;
     top: 47%;
     left: 46.3%;
     font-family: 'Open Sans', sans-serif;
     color: white;
}