@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Fira+Code&family=Open+Sans:wght@700&family=Space+Mono&display=swap');


::-webkit-scrollbar {
     display: none;
}

body{
     overflow-x: hidden;
     color: white;
     margin: 0;
}

.container{
     height: 600vh;
}

.blackcircle{
     position: fixed;
     top: 50%;
     left: 50%;
     margin-right: -50%;
     transform: translate(-50%, -50%);
     background-color: black;
     height: 250px;
     width: 250px;
     border-radius: 50%;
     display: flex;
     align-items: center; 
     justify-content: center;
}

#introtextcontainer{
     position: fixed;
     top: 50%;
     left: 50%;
     margin-right: -50%;
     transform: translate(-50%, -50%);
     height: 250px;
     width: 250px;
     display: flex;
     align-items: center; 
     justify-content: center;
}

#introtext1{
     position: relative;
     font-family: 'Open Sans', sans-serif;
     color: white;
}

#downarrow{
     position: fixed;
     left: 48.5%;
     bottom: 10px;
     height: 70px;
     width: 70px;
}

#introtext2, #introtext3{
     color: white;
}

#ptmy{
     position: fixed;
     top: 300px;
     left: 46%;
}

.allpagecontainer{
     position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     height: fit-content;
     width: 100%;
     flex-direction: column;
     top:200vh
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;
    width: 100%;
    font-size: 3.5rem;
    flex-direction: column;
    background-color: black;

}

.home_section{
     color: white;
     position: relative;
     /* font-size: 3.5rem; */
     top: -17%;
     left: -9%;
}

#hmni{
     color: white;
     font-family: 'Courier Prime', monospace;
     font-size: 1.6rem;
}
#myname{
     font-family: 'Open Sans', sans-serif;
     font-size: 5rem;
}
#lnted{
     font-family: 'Space Mono', monospace;
     font-size: 1.8rem;
}

#lastname{
     color: #999999;
}
#hi{
     color: #999999;
}

#myname:hover #firstname{
     color: #999999;
     transition: all ease-in-out 0.5s;
}
#myname:hover #lastname{
     color: white;
     transition: all ease-in-out 0.5s;
}

.title_heading{
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     top: 6%;
}

.root_aboutme_section{
     background-color: black;
}

#aboutme_icon{
     height: 100px;
     width: auto;
}

#aboutmetitle{
     margin: -37px;
     font-family: 'Open Sans', sans-serif;
     color: white;
}

.aboutme_section{
     height: 55vh;
     width: 105vh;
     background: #151519c9;
     position: absolute;
     border-radius: 25px;
     left: 28%;
     top: 30%;
}

#aboutmebackbox_icon{
     position: absolute;
     left: 17%;
     height: 216px;
     top: 21%;
     width: 418px;
     background-color: #80808070;
}

#aboutme_desc{
     font-size: 1.5rem;
     position: relative;
     font-family: 'Fira Code', monospace;
     top: 9%;
     left: 5%;
     width: 62%;
}

#aboutmeleftside{
     height: 387px;
    width: 690px;
    position: relative;
    top: 14%;
    left: -14%;
}

#aboutmeleftside:hover #aboutme_desc{
     top: 11%;
     transition: all ease-in 0.1s;
}

#aboutmeleftside:hover #aboutmebackbox_icon{
     top: 15%;
     transition: all ease-in 0.1s;
}

#aboutmerightside{
     height: 36%;
    width: 32%;
    position: relative;
    top: -21%;
    left: 20%;
    justify-content: center;
    display: flex;
}

#skillbox{
     position: absolute;
     left: 17%;
     height: 247px;
     top: 21%;
     width: 446px;
     background-color: rgb(106 106 106 / 44%);
     border-radius: 1%;
     box-shadow: 7px 7px rgb(78 70 70 / 34%);
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: center;
}

#aboutmeskillstitle{
     height: 17%;
     font-family: 'Open Sans', sans-serif;
     font-size: 2.3rem;
}

.techstacklist{
     font-size: 1.6rem;
     padding: 10px;
     font-family: 'Space Mono', monospace;
}

.techstacklist:hover {
     color: #A9FDFF;
}

#work_icon{
     height: 80px;
     width: auto;
}

#worktitle{
     margin: 13px;
     font-family: 'Open Sans', sans-serif;
     color: white;
}

.root_works{
     height: 64%;
     width: 70%;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
}

.work{
     position: relative;
     width: 31%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin: 3%;
}

.work_title{
     margin-bottom: 25px;
     font-size: 3rem;
     color: white;
     font-family: 'Open Sans', sans-serif;
}

.work_title:hover{
     color: rgb(169, 169, 169);
}

.work_desc{
     text-align: center;
     background-color: #303030;
     font-family: 'Space Mono', monospace;
     padding: 22px;
     font-size: 1.5rem;
     height: 100px;
}

.highlited_features{
     color: #A9FDFF;
}

.overlay_left{
     height: 400vh;
     width: 7vw;
     position: absolute;
     top: 0;
     left: 3%;
}

#hexalogo{
     position: sticky;
     top: 5%;
     /* left: 28%; */
     margin-left: -7%;
     height: 1.9%;
     width: 85.9%;
     
}

#lefticonbar{
     position: sticky;
     top: 84%;
     left: 5.2%;
     height: 4%;
     width: 10px;
     background-color: gray;
}

.lefticons{
     position: sticky;
    top: 58%;
    margin-left: 1.7%;
    display: flex;
    flex-direction: column;
}

.lefticons > a > img{
     width: 70%;
}

.overlay_right{
     height: 400vh;
     width: 4vw;
     position: absolute;
     top: 0;
     right: 1%;
}

.right_nav{
     top: 40%;
     position: sticky;
     height: 6%;
     align-items: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding: 20%;
}

.nav_square{
     height: 15px;
     background-color: gray;
     width: 15px;
     transform: rotate(44deg);
     margin: 20%;
     position: relative;
}